h1{  
  position: relative;
  left: 40%;
}
.navbar{
  background-color: rgb(24, 80, 199)
}
.contulMeu,.home{
  text-decoration: none;
  color: white;
  margin-right: 5%;
}

.listaMea{
  position: relative;
  left: 20%;
  top: 20%;
}
