.green{
    background-color: rgb(55, 233, 55);
}
.red{
    background-color: tomato;
}
.formAdaugareLista{
    margin-left: 20%;
    width: 50%;
}
.butonAdaugare{
    margin-top: 5vh;
    margin-left: 50%;
}
h1{
    margin-left: -10%;
}
.h1Lista{
    margin-left: 5%;
    margin-bottom: 5%;
}